/*

Author............ : Nathan Sikkema, Divine Imodunbi, Souvanno Souvannasane
Student Number.... : 000911571, 
Program........... : Software Development
Course............ : Software Development Tools
Type.............. : HMTL
Start Date........ : April 09, 2025
End Date.......... : April 09, 2025

*/

* {
    background-color: #e0d596;
    font-size: 30px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#stats {
    display: flex;
    /* flex-direction: column; */
    justify-content: right;
    /* position: fixed; */
    /* right: 20px; */

}

#stats h4 {
    margin: 10px 20px;
}

button {
    border-radius: 5px;
    border: 1px solid black;
    background-color: red;
    font-weight: bold;
    padding: 20px;

}

#answer {
    width: 500px;
    font-size: medium;
}
#submit {
    background-color: rgb(0, 255, 0);
}
input {
    padding: 20px;
    margin-top: 20px;
}